*{/*reset*/
    padding: 0;
    margin: 0;
}
header{
    background-color: #98C1D9;
    height: 90px;

    background-image:url(Head-pic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1vw;
}
header ul {
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 80px;
}

header li {
    margin-right: 1vw;
    display: inline;
}

header li a {
    color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
}

/*焦點事件*/
header li a:hover {
    background-color:#4A6670;
    color: white;
}

/*啟動狀態*/
.pagenow {
    background-color: #65185C;
    color: white;
}

section {
    border-color: #c8ead3;
    border: 10px #cedada solid;
    height: 200px;
    width: auto;
}