@import "./scrollbar.css";
*{/*reset*/
    padding: 0;
    margin: 0;
    background-color: #dcdbe3;
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", STXihei, sans-serif;
}
header{
    background-color: #0c2635;
    height: 90px;
}
header > ul {
    position: absolute;
    right: 0;
    top: 2%;
    line-height: 1rem;
    margin: 0;
    background-color: #0c2635;
    padding: 1rem;
    display: flex;
}

header li {
    margin-right: 1vw;
    display: inline;
    
}

header li a {
    color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
    background-color:#8C93A8 ;
}

/*焦點事件*/
header li a:hover {
    background-color:#4A6670;
    color: white;
}

/*啟動狀態*/
.pagenow {
    background-color: #62466B;
    color: white;
}

section {
    border: 10px #62466B solid;
    position: relative;
    background-color: #dcdbe3;
    max-width: 100%;
    font-size: 1.2rem;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
    padding-left: 20px;
}

section li{
    background-color: #dcdbe3;
}

section > ul {
    list-style-type:disc;
}

section > h2 {
    font-size: 2rem;
    line-height: 2.7rem;
    width: auto;
    background-color: #dcdbe3;
}

.chunk {
    font-size: 3rem;
    display:flex ;
    justify-content: center;
    height: 450px;
    border: 0;
    font-size: 5rem;
}

.chunk img {
    max-width: 30%;
    max-height: 30%;
}

footer {
    padding: 1rem 0;
    text-align: center;
    background-color: #2D2327;
    color: white;
    position: sticky;
    top: 100vh;
  }