<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>起司的神奇空間</title>
    <link rel="icon" href="{{ url_for('static', filename = 'Head-pic.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'scrollbar.css') }}">
</head>
<body>
    <header>
        <div class="spin">
            <img src="{{ url_for('static', filename = 'Head-pic.png') }}" alt="IIIIIIITTTTTSSSSSSS MMMMMMMMMEEEEEEEEE">
        </div>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="tool" class="pagenow">Tools</a></li>
        </ul>
    </header>
    
</body>
<footer>
    © Copyright 2023 by localhost
</footer>

</html>